<% if notice %>
  <div class="mb-2 toast hide border-primary" data-controller="toast">
    <div class="toast-header text-primary">
      <strong class="me-auto"><%= icon_with_text("check-circle") %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body"><%= notice %></div>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <%= alert %>
  </div>
<% end %>
